$margin: 10px !default;
$radius: 8px !default;
$shadow: 0 0 5px rgba(0, 0, 0, 0.7) !default;
$button-size: 34px !default;
$button-background: rgba(0, 0, 0, 0.5) !default;
$button-color: white !default;
$transition: ease-in-out 0.3s !default;
